* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.pantalla {
    height: 100vh;
    width: 100vw;
    display: flex;
    height: auto;
}

.foto {
    height: auto;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/inico.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#seleccion {
    display: flex;
    flex-direction: column;
    background-image: url("../img/seleccionVaina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabeza{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2%;
}

.pilotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 5em;
    margin-left: 20em;
}

.vainas{
    height: 20em;
    width: 20em;
    margin: 2%;
    padding: 2%;
}

#piloto1{
    background-image: url("../img/anakin.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#piloto2{
    background-image: url("../img/sebulba.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

#piloto3{
    background-image: url("../img/aldar.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

#piloto4{
    background-image: url("../img/mars.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}


#carrera {
    display: flex;
    background-image: url("../img/carrera.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#final {
    display: flex;
    background-image: url("../img/final.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}